{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario - GET THE BEST</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png ' %}"/>

</head>
<body>
    <div class="register-wrapper">
        <div class="register-form">
            <div class="title">Registro de Usuario</div>
            <form action="registrar.html" method="post">
                <div class="form-group">
                    <div class="label-text">Nombre:</div>
                    <input type="text" name="nombre" required>
                </div>
                <div class="form-group">
                    <div class="label-text">Usuario:</div>
                    <input type="text" name="usuario" required>
                </div>
                <div class="form-group">
                    <div class="label-text">Correo electrónico:</div>
                    <input type="email" name="correo" required>
                </div>
                <div class="form-group">
                    <div class="label-text">Contraseña:</div>
                    <input type="password" name="clave" required>
                </div>
                <div class="actions">
                    <input type="submit" value="Registrarse" class="btn-submit">
                    <button onclick="window.location.href='../home.html'" class="btn-submit">Home</button>
                </div>
            </form>

        </div>
    </div>
    
</body>
</html>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/reenvio.js' %}"></script>
